<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3325.1758" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.3325.1758" targetFramework="net452" />
  <package id="DotNetAuth" version="1.0.5" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="2.7.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.0.20505.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="4.5.8" targetFramework="net452" />
  <package id="RestSharp" version="104.0" targetFramework="net452" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net452" />
</packages>